@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.inter-over {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/* Common class */
*{
    margin: 0;
}
.margin-l{
    margin-left: 2.5rem;
}
.color-w{
    color: white;
    margin-bottom: 1.8rem;
}
.fitness{
    width: 90%;
    margin: 3rem auto;
}
.footer-fitness{
    width: 90%;
    margin: auto;
}
.body-color{
    background-color:rgb(0, 0, 0)
}
h1,h5{
    color: white;
}
h2{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
h3{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.font{
    font-weight: 900;
    font-size: 4.8rem;
}
.font2{
    font-size: 2rem;
    font-weight: 700;
}
p{
    color: rgba(255, 255, 255, 0.5);
}
hr{
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    margin: 2rem;
}

.btn-primary{
    width: 10rem;
    color: white;
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    border-radius: 1rem;
    text-align: center;
    padding: 0.8rem;
    border: none;
    margin: 2rem 1rem 2rem 0;
    cursor: pointer;
}
.download{
    width: 10rem;
    background-color: black;
    border: solid 1px white;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1rem;
    text-align: center;
    padding: 0.8rem;
    cursor: pointer;
}
.text{
    text-align: center;
}
.bg-color{
    background-color:rgba(255, 255, 255, 0.1) ;
    padding: 2rem 0rem 2rem 3rem;
}

/* nav bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background-color: linear-gradient(180.00deg, rgb(114, 108, 108),rgba(119, 119, 119, 0) 100%);
}
.company a{
    font-size: 3rem;
    font-weight: 900;
    color:rgb(230, 83, 60) ;
    text-decoration: none;
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.menu-bar p a{
    color: white;
    text-decoration: none;
}
#menu-home{
    background-color: rgb(230, 83, 60);
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    width: 4rem;
    text-align: center;

}
.hum_bars{
    display: none;
}
/* banner */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
#span{
    font-style: oblique;
    font-family: "Dancing Script", cursive;
    font-size: 4.8rem;
}
.banner-img{
    position: relative;
    text-align: center;
}
.banner-card1, .banner-card2 {
    width: 200px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 0.8rem;
    position: absolute;
}
.banner-card1{
  top: 70%;
  bottom: 30%;
  padding: 20px;
}
#ball-father{
    position: relative;
}
#ball{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
    top: 50%;
    bottom: 50%;
}
.fa-solid{
    color: white;
    margin-top: 0.8rem;
    margin-left: 0.3rem;
    display: none;
}
.banner-card2{
    top: 25%;
    bottom: 75%;
    margin-left: 60%;
}
/* habits */
.habits{
    margin-bottom: 2rem;
}
.habits-describ{
    margin: 1rem auto;
}
.habits-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    
}
.habits-container img{
    border-radius: 50%;
    margin: 1rem;
    text-align: center;
}
.habits-item{

}
/* Run an extra section*/
.extra{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}
.extra-img img{
    border-radius: 10px;  
}
/* training section styles */
.training{
    margin: 2rem auto;
}
.training-container{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0px;
    }
    .con-row1 img{
        mask-repeat: no-repeat;
    }
    /* BMI Calculater */
    .bmi-description{
        margin: 4rem auto;
        width: 50%;
    }
    
    table{
        margin-top: -7rem;
        margin-left:  3rem;
        width: 80%;
        height: 12rem;
        text-align: center;
    }
    table, th, td{
        border-collapse: collapse;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    th{
        color: white;
    }
    td{
        color: rgba(255, 255, 255, 0.5);
    }
    form{
        margin-top: 2rem;
    }

    .bmi-container{
        margin: 2rem auto;
        display: grid;
        gap:10px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }
    .form input,select{
        width: 16rem;
        height: 2.8rem;
        border-radius: 5px;
        border: none;
        margin: 2px;
    }
    #calculator{
        width: 10rem;
        color: white;
        background-color: rgb(230, 83, 60);
        font-size: 18px;
        font-weight: 600;
        border-radius: 1rem;
        text-align: center;
        padding: 0.8rem;
        border: none;
        margin: 2rem 1rem 2rem 0;
        cursor: pointer;
    }
    #sex{
    
    }
    #factor{
        width: 33rem;
    }
    /* meet section styles */
    .meet-description{
        text-align: center;
        margin: 3rem auto;
        width: 50%;
    }
    .meet-container{ 
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.8rem;
    flex: none;
    background-color: rgba(255, 255, 255, 0.1);

    }
.meet-item img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
}
.meet-item{
    position: relative;
}
.item{
    position: absolute;
    top: 80%;
    bottom: 20%;
    margin-left: 1.5rem;
}
/* Footer */
        
 footer{
    margin: 0;
    background-color:rgba(255, 255, 255, 0.1);
 }  
 .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 3rem;
    padding: 2.8rem;
 }     
#footer-left{
    max-width: 440px;
    max-height: 176px;
}
ul >li{
    list-style-type: none;
}
ul  li  a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
}
/* Cchallenges-part */
.challenges-part{
    background-color:rgba(255, 255, 255, 0.1) ;
    padding: 0.4rem;
}
.challenges-description{
    text-align: center;
    margin: 3rem auto;
    max-width: 50%;
}
.challenges-container{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    gap: 1.5rem;
    
}
.chall-1{
    background-color: #351461;
    padding: 1rem;
    border-radius: 8px;
    line-height: 2rem;
}
#call-1v{
    color: white;
    font-size: large;
    font-weight: 900;
}
#call-2v{
    color: #351461;
    font-size: large;
    font-weight: 900;
}
.value{
    display: flex;
    justify-content: space-between;
}
#size{
    color: yellow;
    font-size: 2rem;
}
#size1{
    font-size: 2rem;
    color: #6604e6ec;
}
.yellow{
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
}
.chall-2{
    background-color:white;
    padding: 1rem;
    border-radius: 8px;
    line-height: 2rem;
}
.black{
    color: black;
}
.color1{
    color: #646461;
}
.beguni{
    background-color: #44194D;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#hr{
    height: 2px;
    background-color: rgba(27, 23, 23, 0.5);
    border: none;
    margin: 2rem;
}
/* resposive small divice */
@media screen and (max-width:576px) {
    .fitness{
        width: 90%;
        margin: 1.5rem;
    }
    .menu-item{
        display: none;
    }
    .hum_bars{
        display: block;
        color: white;
    }
    .banner-card2{
        top: 18%;
        bottom: 82%;
        margin-left: 52%;
    }
    .fa-solid{
        color: white;
        margin-top: 0.8rem;
        margin-left: 0.3rem;
        cursor: pointer;
        display: block;
    }
    .bg-color{
        padding: 0rem;
    }
    .extra{
        gap: 2rem;
    }
    .extra-img img{
        border-radius: 10px;
        width: 100%;
        padding: 0px;
        text-align: center;  
    }
    .banner,.extra,.habits-container, 
    .training-container,.bmi-container,
    .meet-container,.footer-container,.challenges-container{
        grid-template-columns: 1fr;
        padding: 0rem;
    }
    
    .bmi-description{
        margin: 1rem auto;
        width: 90%;
    }
    table{
        margin: 0;
        width: 90%;
        text-align: center;
    }
    .form input,select{
        width: 14rem;
        height: 3.8rem;
        border-radius: 5px;
        border: none;
        margin: 2px;
    }
    #factor{
        width: 29rem;
    }
    .meet-item img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin-bottom: 1.2rem;
        text-align: center;
    }
    .meet-description{
        text-align: center;
        margin: 1rem auto;
        width: 90%;
    }
    .habits-item img{
        margin-left: 9.5rem;
    }
    .btn-primary,#calculator{
        width: 15rem;
        font-size: 20px;
        border-radius: 1rem;
        padding: 1rem;
    }
}
